<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>@ViewBag.Title</title>
    
        @Stylesheet.Include("~/Design/Styles/Common.css")
        @Stylesheet.Include("~/Design/Styles/Design.css")
        @Stylesheet.Include("~/Design/Styles/chosen.css")

        @Javascript.Include("~/Design/Scripts/jquery-1.7.1.min.js")
        @Javascript.Include("~/Design/Scripts/jquery.validate.min.js")
        @Javascript.Include("~/Design/Scripts/jquery.validate.unobtrusive.min.js")
        @Javascript.Include("~/Design/Scripts/jquery-ui-1.8.18.min.js")

        @RenderSection("HtmlHead", false)
    </head>

    <body>
        <div class="all">
            <div class="head">
                <div class="left">
                    <a class="heading" href="@Url.Content("~/")">
                        <span>FormService</span>
                    </a>

                    <div class="main-menu">
                        <ul>
                            <li class="first @(IsCurrent("home", "index") ? "active" : "")">
                                @Html.ActionLink((L)"Home", "index", "home")
                            </li>
                            <li class="@(IsCurrent("features", "index") ? "active" : "")">
                                @Html.ActionLink((L)"Features", "index", "features")
                            </li>
                            <li class="@(IsCurrent("home", "news") ? "active" : "")">
                                @Html.ActionLink((L)"News", "news", "home")
                            </li>
                            <li class="@(IsCurrent("learn", "index") ? "active" : "")">
                                @Html.ActionLink((L)"Learn", "index", "learn")
                            </li>
                            <li class="@(IsCurrent("home", "about") ? "active" : "")">
                                @Html.ActionLink((L)"About", "about", "home")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <a class="by-neptuo" href="http://www.neptuo.com">
                        <span>by Neptuo</span>
                    </a>
                    <div class="langs">
                        <a href="?lang=cs"><img src="@Url.Content("~/Design/Images/Langs/cs.png")" /></a>
                        <a href="?lang=en"><img src="@Url.Content("~/Design/Images/Langs/en.png")" /></a>
                    </div>
                    <div class="clear"></div>

                    <div class="admin-menu">
                        @if (UserContext.IsAuthenticated())
                        { 
                            <ul>
                                <li class="admin-logout">
                                    @using (Html.BeginForm("logout", "account"))
                                    {
                                        <input type="image" name="logout" value="Logout" src="@Url.Content("~/Design/Images/Admin/Logout.png")" />
                                    }
                                </li>
                                <li>
                                    <a class="admin-settings" href="#">
                                        <span>Settings</span>
                                    </a>
                                </li>
                                <li class="@(IsCurrent("account", "change") ? "active" : "")">
                                    <a class="admin-users" href="@Url.Action("change", "account")">
                                        <span>Users</span>
                                    </a>
                                </li>
                                <li class="@((IsCurrent("project", "*") || IsCurrent("formdefinition", "*") || IsCurrent("fielddefinition", "*")) ? "active" : "")">
                                    <a class="admin-projects" href="@Url.Action("index", "project")">
                                        <span>Projects</span>
                                    </a>
                                </li>
                            </ul>
                        }
                        else
                        {   
                            @Html.GrayButton(@Html.ActionLink((L)"Sign in", "login", "account"))
                            <text> </text>
                            @Html.GrayButton(@Html.ActionLink((L)"Create an account", "register", "account"))
                        }
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="body">
                @UI.Message(Message)

                <div class="content@(IsSideBar() ? " content-narrow" : "")">

                    @RenderBody()

                    <div class="clear"></div>
                </div>
                @if (IsSideBar())
                {
                    <div class="side-bar right">
                        @if (IsSectionDefined("SideBar"))
                        { 
                            @RenderSection("SideBar");
                        }
                        else
                        { 
                            @RenderSection("SideBarTop", false)

                            <div class="folder">
                                <h4 class="folder-heading">@Loc("News")</h4>
                                Some news texts
                            </div>
                            <div class="folder">
                                <h4 class="folder-heading">@Loc("Version")</h4>
                                In development
                            </div>
                        }
                    </div>
                }
                <div class="clear"></div>
            </div>
        </div>
        <div class="foot">
            <div class="foot-in">
                <div class="left">
                    FormService, Neptuo &copy; 2010 - 2012
                </div>
                <div class="right">
                    Created by <a target="_blank" href="http://people.neptuo.com/mara">Marek Fišera</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </body>
</html>
 