<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
    
        @Stylesheet.Include("~/Design/Styles/Common.css")
        @Stylesheet.Include("~/Design/Styles/Design.css")
        @Stylesheet.Include("~/Design/Styles/chosen.css")
    
        @Javascript.Include("~/Design/Scripts/jquery-1.7.1.min.js")
        @Javascript.Include("~/Design/Scripts/jquery.validate.min.js")
        @Javascript.Include("~/Design/Scripts/jquery.validate.unobtrusive.min.js")
    </head>

    <body>
        <div class="all">
            <div class="head">
                <div class="left">
                    <a class="heading" href="@Url.Content("~/")">
                        <span>FormService</span>
                    </a>

                    <div class="main-menu">
                        <ul>
                            <li class="active first">
                                <a href="/home/index">Home</a>
                            </li>
                            <li>
                                <a href="/home/index">Features</a>
                            </li>
                            <li>
                                <a href="/home/index">News</a>
                            </li>
                            <li>
                                <a href="/home/index">Learn</a>
                            </li>
                            <li>
                                <a href="/home/index">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <a class="by-neptuo" href="http://www.neptuo.com">
                        <span>by Neptuo</span>
                    </a>
                    <div class="admin-menu">
                        
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="body">
                <!-- Message -->

                <div class="content">

                    @RenderBody()

                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="foot-in">
                <div class="left">
                    FormService, Neptuo &copy; 2010 - 2012
                </div>
                <div class="right">
                    Created by <a href="http://people.neptuo.com/mara">Marek Fišera</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </body>
</html>
 